body {
    background-color: #050d2b;
    color: whitesmoke
}

.header {
    margin-bottom: 5%;
}

.title {
    color: yellow;
}

#textBox {
    background-color: navy;
    color: white;
    border: none;
    border-bottom: solid;
    text-align: center;
    
}

::placeholder {
    color: darkgrey;
}

.submitButton {
    cursor: pointer;
}

.container {
    background-color: navy;
    width: 40%;
    padding: 1%;
    margin-left: 30%;
    text-align: center;
}

#listArea {
    padding-left: 1%;
    padding-right: 1%;
    text-align: left;
    font-size: 30px;
}

#errorMessage {
    padding: 2px;
    margin: 2px;
    color: crimson;
    font-style: italic;
}

#color {
    padding: 5px;
    margin: 2px;
}

#color0, #color2, #color4, #color6, #color8, #color10, #color12 {
    background-color: rgb(23, 67, 150)
}

#color1, #color3, #color5, #color7, #color9, #color11, #color13 {
    background-color: rgb(10, 32, 73)
}

/*
#color0,#color6,#color12{
    background-color: red;
}

#color1,#color7,#color13{
    background-color: orange;
}

#color2,#color8,#color14{
    background-color: yellow;
    color: black
}

#color3,#color9,#color15{
    background-color: green;
}

#color4,#color10,#color16{
    background-color: indigo;
}

#color5,#color11,#color17{
    background-color: violet;
}
*/