body {
    background-color: #050d2b;
    color: whitesmoke
}

.header {
    margin-bottom: 5%;
}

.title {
    color: yellow;
    width: 60%;
    display: inline-block;
}

#optionNumberedButton {
    display: inline-block;
}

#textBox {
    background-color: navy;
    color: white;
    border: none;
    border-bottom: solid;
    text-align: center;
}

.grouper {

    text-align: center;
}

::placeholder {
    color: darkgrey;
}

.submitButton {
    cursor: pointer;
}

.container {
    border-left: solid;
    border-right: solid;
    border-width: 4px;
    border-color: yellow;
    background-color: navy;
    width: 40%;
    padding: 1%;
    margin-left: 30%;
    text-align: center;
}

#listArea {
    padding-left: 1%;
    padding-right: 1%;
    text-align: left;
    font-size: 30px;
}

#errorMessage {
    padding: 2px;
    margin: 2px;
    color: crimson;
    font-style: italic;
}

#color {
    padding: 5px;
    margin: 2px;
}

#color1 {
    background-color: rgb(23, 67, 150)
}

#color2 {
    background-color: rgb(10, 32, 73)
}

.noteNumber {
    color: yellow;
}

.delButton {
    float: right;
    height: 100%;
    margin: 0;
    padding: 7.5px;
    background-color: #ca416f;
    color: white;
}

.delButton:hover {
    background-color: #b11e4f
}

@media only screen and (max-width: 600px) {

.container {
    width: 100%;
    margin-left: 0;
    padding: 0;
}

}
